@charset "UTF-8";
/* CSS Document */
#navbar{
	overflow: hidden;
	position:fixed;
	top:0;
	width:100%
}
.navBarContent{
	display: block;
	text-align:center;
	padding: 1.5%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration: none;	
	
}
.navBarSect{
	float:left;
	width:30%;
	background-color: cadetblue;
}
.navBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navBarSect:hover{
	background-color: black;
}
